VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55cHlxanhja2xvZXVzemdoaG5rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NTE2MjEsImV4cCI6MjA5NDUyNzYyMX0.izfPZYkqiyg3QrfS4eAVMW6WmKYiXRqkkO2XYUpoCeE
VITE_API_URL=https://rampickelmart-s535.onrender.com/

SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55cHlxanhja2xvZXVzemdoaG5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODk1MTYyMSwiZXhwIjoyMDk0NTI3NjIxfQ.0984LZ3CvoL_eaCCX5yEAf5uAcAWAazmrjiW22jdO3c
EMAIL_USER=rampickelmart@gmail.com
EMAIL_PASS=PASTE_YOUR_16_CHAR_GMAIL_APP_PASSWORD
RESEND_API_KEY=PASTE_YOUR_RESEND_API_KEY
RESEND_FROM_EMAIL=onboarding@resend.dev

